# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

*.suo
*.exe
*.pdb
*.csproj.user
*.exe.config
*.exe.manifest

_ReSharper.Still/*
assets
assets-bsm2014
assets-cargame/
assets-cebit2014
assets-common/
assets-debussy
assets-ff
assets-fiagon
assets-kitschkrieg
assets-new
assets-nsa
assets-smartkitchen/
assets-storage
assets-webgl-stocks-demo
assets-we-follow
backup/
BuildProperties.cs
Config/Bookmarks.json
Config/Home.mop*
Config/UserSettings.json
Core/bin/*
Core/obj/*
Core.UI/obj
CoreTests/bin/*
CoreTests/obj/*
Experiments/Pixtur/ParameterView/bin
Experiments/Pixtur/ParameterView/obj
Experiments/Pixtur/TestDocking/obj
Experiments/AvalonDock-62949.zip
Experiments/AvalonDock.StyleTest
Experiments/AvalonDock
Export/*
Layouts.xml
Log/*
Logs/*.log
nsight_profiler.cfg
Operators/*
Operators/Cache/*
Operators/descript.ion
OperatorTester/obj/*
Output-square
output/*
packages/
Player.exe.config
Player/bin/*
Player/obj/*
Player/*.nvuser
Revision.h
Save/*
SmartKitchenModel/obj
T2-Manual/T2-Manual.zip
T2-Manual/T2-Manual_files
Temp/
Testdata/
Textures.bin
Tooll.exe.config
Tooll/bin/*
Tooll/obj/*
Tooll/Tooll.csproj.user
TestResults/*
UITests/obj/*
/assets-matchit
/assets-mdf
/assets-coronoid
/assets-practice
/assets-feedback
/assets-shot
/assets-moire
/assets-vj
/assets-plonk
/assets-smaze
/assets-supermedium
/assets-vj-milemarker
/_render
/assets-1x
/assets-lena/images
/.vscode
/.vscode/settings.json
/Core.dll
/Core.UI.dll
